<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="name" href="#">ANTHONY W. BAKER</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav hid" id="nav-links">
        <li><a class="about nav-link" href="{{ url_for('index', highlight='about') }}">ABOUT</a></li>
        <li><a class="resume nav-link" href="{{ url_for('index', highlight='resume') }}">RESUM&Eacute;</a></li>
        <li><a class="resume nav-link" href="{{ url_for('recipes') }}">RECIPES</a></li>
        <li><a class="projects nav-link" href="{{ url_for('index', highlight='projects') }}">PROJECTS</a></li>
        <li><a class="writing nav-link" href="{{ url_for('index', highlight='writing') }}">WRITING</a></li>
        <li><a class="contact nav-link" href="{{ url_for('index', highlight='writing') }}">CONTACT</a></li>
        <!-- <li class="about nav-link">About</li>
        <li class="resume nav-link">Resum&eacute;</li>
        <li class="projects nav-link">Projects</li>
        <li class="writing nav-link">Writing</li>
        <li class="contact nav-link">Contact</li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- spacing under the nav bar -->
<div id="nav-spacer"></div>
