.playerContainer {
    max-width: 660px !important;
    padding-bottom: 20px;
}

.playerContainer > div {
    max-width: 660px;
}

.options {
    font-family: "Microsoft Sans Serif";
    font-smooth: never;
    -webkit-font-smoothing : none;
    font-weight: normal;
}