.weddingCell {
  min-height: 350px;
}

.weddingTitle {
  font-family: 'Orsay', serif;
  text-align: center;
  font-weight: normal;
  padding-bottom: 2rem;
}

.weddingLink {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
  color:black;
}

.weddingLink:hover {
  background-color: white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .isReverseMobile {
    display: flex;
    flex-direction: column-reverse;
  }
}