.weddingCell {
  min-height: 150px;
}

.weddingLink {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
  color:black;
  background-color: none;
}

@media (max-width: 768px) {
  .isReverseMobile {
    display: flex;
    flex-direction: column-reverse;
  }
}