.heading {
    margin-bottom: 0 !important;
    font-family: "Microsoft Sans Serif";
    font-smooth: never;
    -webkit-font-smoothing: none;
}

.heading:hover {
    color: #3273dc;
}

.mdContainer > p {
    font-family: "Microsoft Sans Serif";
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-weight: normal;
    padding-top: 1em;
    padding-bottom: 1em;
}

.mdContainer > ul {
    list-style-type: circle;
    margin-left: 20px;
}

.mdContainer > ol {
    margin-left: 20px;
}
