.section {
    padding: 3rem 0 3rem 0;
}



.levelItem {
    margin-left: auto; 
    margin-right: 15px;
    /* width: 100%; */
}

/* .level > div {
    position: unset !important;
} */

.img {
    height: 85px;
    /* object-fit: contain; */
}

.level {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .level {
        display: block !important;   
    }
}


@media screen and (max-width: 600px) {
    .pageTitle {
        font-size: 3rem !important;
    }
  }

@media screen and (max-width: 400px) {
    .pageTitle {
        font-size: 2.5rem !important;
    }
  }

.pageTitle {
    font-family: Chomsky;
    font-weight: normal;
    text-align: right;

    /* font-size: calc(3rem + 3vw); */
    /* font-size: 5rem !important; */
    /* Perf optimization for fitty: */
    /* display: inline-block;
    white-space: nowrap;
    font-size: 3rem;
    */
}
