.projectColumnContainer {
    align-items: center;
}

.projectColumn1 {
    order: 1;
}

.projectColumn0 {
    order: 0;
}

.imageContainer {
    position: relative;
    width: 100% !important;
    height: auto !important;
  }