<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html.j2" %}
</head>
<body>
  {% include "partials/nav.html.j2" %}

  <!-- Project Cards -->
  <div class="jumbotron jumbo-white header" id="projects">
    <div class="container-fluid">
      <div class="row">
        <h1>Recipes</h1>
      </div>
      <hr class="featurette-divider"></hr>
    </div>
  </div>

  <div class="container-fluid cards">
    <div class="row proj-row">

      <a class="card-href" href="https://anthonywbaker.com/recipes/arrabbiata.html">
        <div class="col-sm-3 recipe card">
          <div class="card-foreground">
            <h3>Arrabbiata</h3>
          </div>
          <div class="card-background">
            <hr></hr>
          </div>
        </div>
      </a>

      <a class="card-href" href="https://anthonywbaker.com/recipes/meat-bowl.html">
        <div class="col-sm-3 recipe card">
          <div class="card-foreground">
            <h3>Big Anthony's Anytime Big Breakfast Bowl of Meat</h3>
          </div>
          <div class="card-background">
            <hr></hr>
          </div>
        </div>
      </a>

      <a class="card-href" href="https://anthonywbaker.com/recipes/honey-sriracha-pork.html">
        <div class="col-sm-3 recipe card">
          <div class="card-foreground">
            <h3>Easy Honey-Sriracha Pork Chops</h3>
          </div>
          <div class="card-background">
            <hr></hr>
          </div>
        </div>
      </a>

      <a class="card-href" href="https://anthonywbaker.com/recipes/sausage-suprise.html">
        <div class="col-sm-3 recipe card">
          <div class="card-foreground">
            <h3>Happy Sausage Suprise for One</h3>
          </div>
          <div class="card-background">
            <hr></hr>
          </div>
        </div>
      </a>


    </div>
  </div> <!-- container-fluid -->

  <div class="container-fluid cards">
    <div class="row proj-row">

      <a class="card-href" href="https://anthonywbaker.com/recipes/lonely-thanksgiving.html">
        <div class="col-sm-3 recipe card">
          <div class="card-foreground">
            <h3>Poor Anthony's Lonely Thanksgiving</h3>
          </div>
          <div class="card-background">
            <hr></hr>
          </div>
        </div>
      </a>

      <a class="card-href" href="https://anthonywbaker.com/recipes/salads.html">
        <div class="col-sm-3 recipe card">
          <div class="card-foreground">
            <h3>Salads</h3>
          </div>
          <div class="card-background">
            <hr></hr>
          </div>
        </div>
      </a>

      <a class="card-href" href="https://anthonywbaker.com/recipes/meat-tube.html">
        <div class="col-sm-3 recipe card">
          <div class="card-foreground">
            <h3>60-Second Pink Meat Tubes</h3>
          </div>
          <div class="card-background">
            <hr></hr>
          </div>
        </div>
      </a>

    </div>
  </div> <!--/container-fluid -->

</body>
</html>
